@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans text-black bg-[#fff3df];
}

@font-face {
  font-family: "Goku";
  src: url("/Goku-Regular.woff2") format("woff2"),
    url("/Goku-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 100%;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  background-color: #da9e3d;
  border-radius: 0.5rem;
  height: 0.5rem;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -12px;

  background-color: #f9c066;
  height: 2rem;
  width: 2rem;
  border-radius: 100%;
}

input[type="range"]:focus::-webkit-slider-thumb {
  border: 2px solid #da9e3d;
}

input[type="range"]::-moz-range-track {
  background-color: #da9e3d;
  border-radius: 0.5rem;
  height: 0.5rem;
}

input[type="range"]::-moz-range-thumb {
  border: none;
  border-radius: 0;

  background-color: #f9c066;
  height: 2rem;
  width: 2rem;
  border-radius: 100%;
}

input[type="range"]:focus::-moz-range-thumb {
  border: 2px solid #da9e3d;
}
